::ng-deep body{
  margin: 0;
}

.main-container{
  min-height: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sorting-container{
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.sorting-element{
  display: inline-block;
  margin: 0 2px;
}

.select-algorithm{
  font-size: 25px;
  align-items: center;
}
