<div class="main-container">
  <div class="buttons-container">
    <button [disabled]="disabledStatus" (click)="resetArray()">Reset</button>
    <button [disabled]="disabledStatus" (click)="executeAnimations()">Sort</button>
  </div>
  <div class="sorting-container">
    <av-rectangle *ngFor="let element of array"
                  [height]='element.height'
                  [width]='element.width'
                  [color]='element.color'
                  class='sorting-element'
    ></av-rectangle>
  </div>
</div>
