<div class='algorithm-page'>
  <app-top-nav
    (back)='onBack()'
    (delay)='onDelay($event)'
    (size)='onSize($event)'
    (algorithm)='onAlgorithm($event)'
    (start)='executeAnimations()'
    (reset)='resetArray()'
    [algorithmSection]='section.SEARCHING'
  ></app-top-nav>

  <div class='algorithm-container'>
    <div class='searching-container'>
      <ng-container *ngIf='isAlgorithmSelected'>
        <av-square *ngFor='let element of array'
                   [size]='element.width'
                   [color]='element.color'
                   [value]='element.value'
                   class='searching-element'
        ></av-square>
      </ng-container>
      <div class='select-algorithm-text' *ngIf='!isAlgorithmSelected'>
        Please select an algorithm
      </div>
    </div>
  </div>
</div>
