::ng-deep body{
  margin: 0;
}

.searching-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.searching-element{
  display: inline-block;
  margin: 0 2px;
}
