<app-top-nav
  (back)='onBack()'
  (delay)='onDelay($event)'
  (size)='onSize($event)'
  (algorithm)='onAlgorithm($event)'
  (start)='executeAnimations()'
  (reset)='resetArray()'
  [algorithmSection]='algorithmSection.SEARCHING'
></app-top-nav>
<div class="main-container">
  <div class="searching-container">
    <av-square *ngFor="let element of array"
                  [size]='element.width'
                  [color]='element.color'
                  [value]='element.value'
                  class='searching-element'
    ></av-square>
  </div>
</div>
