$background-primary: #548590;
$background-secondary: #f6f6f6;


$button-primary: #bababa;
$button-secondary: #f2f2f2;
$button-disabled: #b3b3b3;
$button-text-disabled: #8b8b8b;

$text-primary: black;

$hover-primary: #d1d1d1;
$hover-secondary: #ffffff;
