$background-dark: #233a3f;
$background-light: #a2c5c9;

$button-light: #a7c8cc;

$button-disabled-light: #9cb7bb;
$button-text-disabled-light: #7c9093;

$text-dark: $background-dark;
$text-light: $background-light;

$hover-primary: #d1d1d1;
$hover-light: #c1dbe0;
