<div class="main-container">
  <div class="buttons-container">
    <button [disabled]="disabledStatus" (click)="resetArray()">Reset</button>
    <button [disabled]="disabledStatus" (click)="performAnimations()">Sort</button>
  </div>
  <div class="sorting-container">
<!--    <div #arrayElem *ngFor="let element of array" [style.height]="element.toString().concat('px')" class="array-element"></div>-->
    <av-rectangle *ngFor="let element of array"
                  [height]='element.height'
                  [width]='element.width'
                  [color]='element.color' ></av-rectangle>
  </div>
</div>
<av-rectangle></av-rectangle>
