<div class='algorithm-page'>
  <app-top-nav
    (back)='onBack()'
    (delay)='onDelay($event)'
    (size)='onSize($event)'
    (algorithm)='onAlgorithm($event)'
    (start)='executeAnimations()'
    (reset)='resetGrid()'
    [algorithmSection]='section.PATHFINDING'
  ></app-top-nav>

  <div class='algorithm-container'>
    <div class='pathfinding-container' *ngIf='isAlgorithmSelected'>
      <div *ngFor='let row of array' class='row row-{{array.indexOf(row)}}'>
        <av-node *ngFor='let element of row'
                 [size]='element.width'
                 [color]='element.color'
                 [isEnd]='element.isEnd'
                 [isStart]='element.isStart'
                 [row]='element.row'
                 [column]='element.column'
                 class='searching-element'
                 (mousedown)='handleMouseDown(element)'
                 (mouseenter)='handleMouseEnter(element)'
                 (mouseup)='handleMouseUp()'
        ></av-node>
      </div>
    </div>
    <div class='select-algorithm-text' *ngIf='!isAlgorithmSelected'>
      Please select an algorithm
    </div>
  </div>
</div>
